In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('glassdoor_jobs.csv')

### Salary Parsing

In [12]:
# getting rid of None values
df = df[df['Salary Estimate'] != '-1']

In [13]:
# looking for a Per Hour salary and creating a new column to identify it 
df['Hourly'] = df['Salary Estimate'].apply(lambda x: 1 if '/hr' in x.lower() else 0)
# creating a variable to take only the numeric value
salary = df['Salary Estimate'].apply(lambda x: x.split('/')[0])
# creating a new column to store the clean salary value and getting rid of other simbols
df['upd_salary'] = salary.apply(lambda x: x.replace('$', '').replace(',', '').replace(' ', ''))
# changing the salary value type to float
df['upd_salary'] = df['upd_salary'].apply(lambda x: float(x))

In [14]:
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Hourly,upd_salary
0,Data Scientist (Level I - II),"$91,036 /yr (est.)",3.5,"BEN Group, Inc\n3.5","Provo, UT",-1,201 to 500 Employees,2014,Company - Private,Advertising & Public Relations,Media & Communication,$25 to $100 million (USD),-1,0,91036.00
1,Data Scientist,"$110,000 /yr (est.)",4.6,Super Dispatch\n4.6,Remote,-1,51 to 200 Employees,-1,Company - Private,-1,-1,-1,-1,0,110000.00
4,Data Scientist,$65.71 /hr (est.),-1.0,Biometric Health,"Jackson, MS",-1,Unknown,-1,-1,-1,-1,-1,-1,1,65.71
5,Data Scientist - Virtual,"$96,225 /yr (est.)",4.2,"Vizient, Inc.\n4.2",Remote,-1,1001 to 5000 Employees,-1,Company - Private,-1,-1,-1,-1,0,96225.00
6,Entry level Data Science Engineer-333338,"$62,500 /yr (est.)",4.2,I28 Technologies\n4.2,"Marysville, MI",-1,1 to 50 Employees,-1,Company - Private,-1,-1,-1,-1,0,62500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,"data scientist, Operational Excellence - GSC","$124,950 /yr (est.)",3.7,Starbucks\n3.7,"Seattle, WA",-1,10000+ Employees,-1,-1,-1,-1,-1,-1,0,124950.00
994,Data Scientist,"$110,000 /yr (est.)",4.6,Super Dispatch\n4.6,Remote,-1,51 to 200 Employees,-1,Company - Private,-1,-1,-1,-1,0,110000.00
995,"Data Scientist, Machine Learning","$114,296 /yr (est.)",5.0,Locus Robotics\n5.0,"Wilmington, MA",-1,201 to 500 Employees,-1,Company - Private,-1,-1,-1,-1,0,114296.00
996,Data Scientist / Machine Learning Engineer,"$130,867 /yr (est.)",4.6,Databricks\n4.6,"West, TX",-1,1001 to 5000 Employees,-1,Company - Private,-1,-1,-1,-1,0,130867.00
997,Data Scientist - Virtual,"$96,225 /yr (est.)",4.2,"Vizient, Inc.\n4.2",Remote,-1,1001 to 5000 Employees,-1,Company - Private,-1,-1,-1,-1,0,96225.00

### Company name text only

In [27]:
# Removing the last four characters of the Company Name where the rating is added
df['Company text'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-4], axis = 1)
df

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Hourly,upd_salary,Company text
0,Data Scientist (Level I - II),"$91,036 /yr (est.)",3.5,"BEN Group, Inc\n3.5","Provo, UT",-1,201 to 500 Employees,2014,Company - Private,Advertising & Public Relations,Media & Communication,$25 to $100 million (USD),-1,0,91036.00,"BEN Group, Inc"
1,Data Scientist,"$110,000 /yr (est.)",4.6,Super Dispatch\n4.6,Remote,-1,51 to 200 Employees,-1,Company - Private,-1,-1,-1,-1,0,110000.00,Super Dispatch
4,Data Scientist,$65.71 /hr (est.),-1.0,Biometric Health,"Jackson, MS",-1,Unknown,-1,-1,-1,-1,-1,-1,1,65.71,Biometric Health
5,Data Scientist - Virtual,"$96,225 /yr (est.)",4.2,"Vizient, Inc.\n4.2",Remote,-1,1001 to 5000 Employees,-1,Company - Private,-1,-1,-1,-1,0,96225.00,"Vizient, Inc."
6,Entry level Data Science Engineer-333338,"$62,500 /yr (est.)",4.2,I28 Technologies\n4.2,"Marysville, MI",-1,1 to 50 Employees,-1,Company - Private,-1,-1,-1,-1,0,62500.00,I28 Technologies
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,"data scientist, Operational Excellence - GSC","$124,950 /yr (est.)",3.7,Starbucks\n3.7,"Seattle, WA",-1,10000+ Employees,-1,-1,-1,-1,-1,-1,0,124950.00,Starbucks
994,Data Scientist,"$110,000 /yr (est.)",4.6,Super Dispatch\n4.6,Remote,-1,51 to 200 Employees,-1,Company - Private,-1,-1,-1,-1,0,110000.00,Super Dispatch
995,"Data Scientist, Machine Learning","$114,296 /yr (est.)",5.0,Locus Robotics\n5.0,"Wilmington, MA",-1,201 to 500 Employees,-1,Company - Private,-1,-1,-1,-1,0,114296.00,Locus Robotics
996,Data Scientist / Machine Learning Engineer,"$130,867 /yr (est.)",4.6,Databricks\n4.6,"West, TX",-1,1001 to 5000 Employees,-1,Company - Private,-1,-1,-1,-1,0,130867.00,Databricks
997,Data Scientist - Virtual,"$96,225 /yr (est.)",4.2,"Vizient, Inc.\n4.2",Remote,-1,1001 to 5000 Employees,-1,Company - Private,-1,-1,-1,-1,0,96225.00,"Vizient, Inc."

### State field

In [ ]:
# Getting the state abrev and putting it into another column
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1] if ',' in str(x) else x)
df.head(5)

In [42]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Rating', 'Company Name', 'Location',
       'Headquarters', 'Size', 'Founded', 'Type of ownership', 'Industry',
       'Sector', 'Revenue', 'Competitors', 'Hourly', 'upd_salary',
       'Company text', 'job_state'],
      dtype='object')

In [43]:
df_out = df.drop(['Headquarters', 'Founded', 'Industry', 'Sector', 'Revenue', 'Competitors'], axis=1 )

In [47]:
df_out.to_csv('glassdoor_data_cleaned.csv', index= False)

In [48]:
pd.read_csv('glassdoor_data_cleaned.csv')

,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Type of ownership,Hourly,upd_salary,Company text,job_state
0,Data Scientist (Level I - II),"$91,036 /yr (est.)",3.5,"BEN Group, Inc\n3.5","Provo, UT",201 to 500 Employees,Company - Private,0,91036.00,"BEN Group, Inc",UT
1,Data Scientist,"$110,000 /yr (est.)",4.6,Super Dispatch\n4.6,Remote,51 to 200 Employees,Company - Private,0,110000.00,Super Dispatch,Remote
2,Data Scientist,$65.71 /hr (est.),-1.0,Biometric Health,"Jackson, MS",Unknown,-1,1,65.71,Biometric Health,MS
3,Data Scientist - Virtual,"$96,225 /yr (est.)",4.2,"Vizient, Inc.\n4.2",Remote,1001 to 5000 Employees,Company - Private,0,96225.00,"Vizient, Inc.",Remote
4,Entry level Data Science Engineer-333338,"$62,500 /yr (est.)",4.2,I28 Technologies\n4.2,"Marysville, MI",1 to 50 Employees,Company - Private,0,62500.00,I28 Technologies,MI
...,...,...,...,...,...,...,...,...,...,...,...
813,"data scientist, Operational Excellence - GSC","$124,950 /yr (est.)",3.7,Starbucks\n3.7,"Seattle, WA",10000+ Employees,-1,0,124950.00,Starbucks,WA
814,Data Scientist,"$110,000 /yr (est.)",4.6,Super Dispatch\n4.6,Remote,51 to 200 Employees,Company - Private,0,110000.00,Super Dispatch,Remote
815,"Data Scientist, Machine Learning","$114,296 /yr (est.)",5.0,Locus Robotics\n5.0,"Wilmington, MA",201 to 500 Employees,Company - Private,0,114296.00,Locus Robotics,MA
816,Data Scientist / Machine Learning Engineer,"$130,867 /yr (est.)",4.6,Databricks\n4.6,"West, TX",1001 to 5000 Employees,Company - Private,0,130867.00,Databricks,TX
817,Data Scientist - Virtual,"$96,225 /yr (est.)",4.2,"Vizient, Inc.\n4.2",Remote,1001 to 5000 Employees,Company - Private,0,96225.00,"Vizient, Inc.",Remote